#simple_translate_addon_area {
    all: initial;
    position: fixed;
    bottom: calc(-20% - 30px);
    left: 0px;
    max-height: 20%;
    max-width: 90%;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #000;
    background: rgba(240, 240, 240, 0.9);
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    z-index: 2147483647;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #5bb7ae;
    transition-duration: 0.1s;
}

#simple_translate_addon_area .staa-_-result {
    padding-bottom: 5px;
}

#simple_translate_addon_area .staa-_-info {
    border-top: solid 1px #999;
    margin-top: 5px;
    padding-top: 5px;
}

#simple_translate_addon_area .staa-_-part {
    color: green;
}

#simple_translate_addon_area .staa-_-error {
    color: red;
}

#simple_translate_addon_area .staa-_-entry {
    font-size: 18px;
    font-weight: bold;
}

#simple_translate_addon_area.staa-_-show {
    bottom: 0px;
}

#simple_translate_addon_area.staa-_-api_translated {
    border-left: solid 6px #5b92b7;
}